:root {
    --main-bg-color: rgb(30, 30, 30);
    --main-text-color: #E0E0E0;
    --main-text-color-opacity: rgba(224, 224, 224, 0.8);
    --secondary-bg-color: rgb(51, 51, 51);
    --secondary-bg-color-opacity: rgb(51, 51, 51, 0.8);
}

header {
    background-color: var(--secondary-bg-color-opacity);
    position: sticky;
    top: 0;
    padding: 1rem 2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}


footer {
    background-color: var(--secondary-bg-color);
    padding: 1rem;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
}

address {
    font-size: 1.5rem;
    font-style: normal;
}

i {
    font-size: 2rem;
    padding: 0.5rem 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
}


section {
    padding: 1rem 2rem;
}

section h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin: 0;
    margin-bottom: 1rem;
}


.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.header-logo {
    display: none;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}

.floating-logo {
    position: absolute;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--secondary-bg-color);
    top: 1rem;
    gap: 2rem;
    z-index: 2;
    font-size: 2rem;
}

.block {
    display: block;
}

.font-size-1-2 {
    font-size: 1.2rem;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.relative {
    position: relative;
}

.heading--header {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}


header img {
    width: 4em;
}

header a {
    height: fit-content;
}

.no-href-styles {
    text-decoration: none;
    color: inherit;

}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.gap-2 {
    gap: 1rem;
}

.gap-1 {
    gap: 0.5rem;
}

/* Hamburger menu */
dialog {
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg-color);
    border: none;
}

.dialog-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu-button {
    border: none;
    padding: 0.25rem 0.25rem;
    color: var(--main-text-color);
    background: none;
}

.menu-button i {
    padding: 0;
}

dialog header {
    display: flex;
    justify-content: right;
    align-items: center;
    background: none;
}

dialog nav {
    display: flex;
    justify-content: center;
}

.mobile-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--main-text-color-opacity);
    border-top: 1px solid var(--main-text-color-opacity);
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--main-text-color);
}

dialog i {
    color: var(--main-text-color-opacity);
}

i.fa-instagram {
    font-size: 2.2rem;
}

.no-scrolling {
    overflow: hidden;
}


@media screen and (max-width: 640px) {

    header,
    section {
        padding: 0.5rem 1rem;
    }

    header img {
        /* display: none; */
        width: 2.5em;
    }

    .sm-gap-1 {
        gap: 0.5rem;
    }

    .floating-logo {
        font-size: 1rem;
        gap: 1rem;
        top: 0.5rem;
    }

    .navigation {
        display: none;
    }

    header>nav {
        display: none;
    }

    .menu-button {
        display: block;
    }

}

@media screen and (max-width: 1024px) {
    .floating-logo {
        font-size: 1.5rem;
    }

    .floating-logo {
        display: none;
    }

    .header-logo {
        display: flex;
    }

}


/* .home_background {
    background-image: url('home_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

@media (max-height: 400px) {
    .home_background {
        background-size: contain;
        min-height: 50vh;
    }
} */